/* reset CSS */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset CSS */

:root {
	--border-gray-color : #CCCCCC;
	--placeholder-gray-color : #929292;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 21px;
}

.main-container .main-wrap {
    /* width: 768px; */
}

.main-container .main-wrap .logo-wrap {
	padding-top: 90px;
}

.main-container .main-wrap .logo-wrap img {
    width: 246px;
    height: 56px;
}

.login-input-section-wrap {
	padding-top: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login-input-wrap {
	float: center;
	align-items: center;
}

.email-wrap{
	border: 1px solid var(--border-gray-color);
}

.login-input-wrap .email-wrap img {
	height: 54px;
	vertical-align: middle;
}

.login-input-wrap .email-wrap input {
	width: 570px;
	height: 49px;
	margin-left: -4px;
	padding-left: 20px;
	overflow: hidden;
	vertical-align: middle;
	font-size: 16px;
}

.login-input-wrap .password-wrap {
	margin-top: 13px;
	border: 1px solid var(--border-gray-color);
}

.login-input-wrap .password-wrap img {
	height: 54px;
	vertical-align: middle;
}

.login-input-wrap .password-wrap input {
	width: 570px;
	height: 49px;
	margin-left: -4px;
	padding-left: 20px;
	overflow: hidden;
	vertical-align: middle;
	font-size: 16px;
}
